/*          common           */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
}

* img {
    display: block;
    max-width: 100%;
}

* a,
ul {
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.primary-btn{
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    padding: 1rem calc(90rem / 16);
}

/* fonts */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* ........colors........... */

.orange{
    color: #E95A08;
}
.gray1{
    color: rgba(0, 0, 0, 0.5);
}
/*         header navbar section          */

.header-navbar{
    margin-top: 1.9rem;
    align-items: center;
    justify-content: space-between;
}
.header-navbar ul{
    gap: 3rem;
}
.header-navbar ul li:nth-child(1) a, :nth-child(4) a {
    font-weight: 600;
    color: #252432;
}
.header-navbar ul li:nth-child(2) a, :nth-child(3) a {
    color: #8987A1;
}
.header-navbar ul li:nth-child(4) a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* ........header-banner......... */

.header-banner{
    margin-top: calc(80rem / 16);
    align-items: center;
    justify-content: space-between;
}
.header-banner-left-title{
    font-size: calc(45rem / 16);
    font-weight: 700;
}
.header-banner-left-description{
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 70%;
}

/* .........plant section......... */

.plants-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(80rem / 16);
    text-align: center;
}
.plants-section-title{
    font-size: calc(35rem / 16);
    font-weight: 700;
}
.plants-section-description{
    max-width: 50%;
    margin: 1rem 0rem 2rem 0rem;
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.flower-name{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}
.flower-price{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}