/*          common           */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
}

* img {
    display: block;
    max-width: 100%;
}

* a:hover {
    background-color: rgba(51, 127, 158, 1);
}

* a,
ul {
    list-style: none;
    text-decoration: none;
}

.anc-with-line {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center100 {
    align-items: center;
    justify-content: center;
}

.primary-btn {
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    padding: 1rem calc(90rem / 16);
}

/* fonts */

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* ........colors........... */

.orange {
    color: #E95A08;
}

.gray1 {
    color: rgba(0, 0, 0, 0.5);
}

.white {
    color: white;
}

/*         header navbar section          */

.header-navbar {
    margin-top: 1.9rem;
    align-items: center;
    justify-content: space-between;
}

.header-navbar ul {
    gap: 3rem;
}

.header-navbar ul li:nth-child(1) a {
    font-weight: 600;
    color: #252432;
}

.header-navbar ul li:nth-child(2) a,
:nth-child(3) a {
    color: #8987A1;
}

.header-navbar ul li:nth-child(4) a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #252432;
}

/* ........header-banner......... */

.header-banner {
    margin-top: calc(80rem / 16);
    align-items: center;
    justify-content: space-between;
}

.header-banner-left-title {
    font-size: calc(45rem / 16);
    font-weight: 700;
}

.header-banner-left-description {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 70%;
}

/* .........plant section......... */

.plants-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(80rem / 16);
    text-align: center;
}

.plants-section-title {
    font-size: calc(35rem / 16);
    font-weight: 700;
}

.plants-section-description {
    max-width: 50%;
    margin: 1rem 0rem 2rem 0rem;
}

.all-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.flower-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.flower-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

/* ......plants-lover-section...... */

.plants-lover-section {
    margin-top: calc(120rem / 16);
    gap: 4rem;
}

.plants-lover-section-left {
    max-width: fit-content;
}

.trusted-badge {
    width: 30%;
    position: relative;
    top: -40rem;
    right: -27rem;
}

.plants-lover-section-right ul li {
    margin-bottom: 2rem;
}

.plants-lover-section-right ul {
    margin: 2rem 0rem 0rem 4rem;
}

.plants-lover-section-right-title {
    font-size: calc(50rem / 16);
    margin-top: 1rem;
    font-weight: 700;
}

.plants-lover-section-right ul li {
    list-style: disc;
}

.plants-lover-section-right-description {
    font-size: calc(22rem / 16);
}

/* ........latest deal section............... */
.latest-deal-section {
    text-align: center;
}

.latest-deal-section-title {
    font-size: calc(50rem / 16);
    font-weight: 700;
    margin: 3rem 0rem 1rem 0rem;

}

.latest-deal-section-layout {
    margin-top: 4rem;
    gap: 1.4%;
}

.latest-deal-section-layout-left {
    height: calc(424rem / 16);
    width: 39.3%;
    flex-direction: column;
    gap: 4%;

}

.latest-deal-section-bloom {
    border-radius: 1rem;
    height: 48%;
    background-image: url('../assets/deal-bloom.png');
    background-size: 100%;
}

.latest-deal-section-ana {
    border-radius: 1rem;
    height: 48%;
    background-image: url('../assets/deal-ana.png');
    background-size: 100%;
}

.latest-deal-section-layout-right {
    height: calc(424rem / 16);
    width: 59.3%;
    flex-direction: column;
    background-image: url('../assets/deal-zabo.png');
    background-size: 100%;
}

/* .........join-community section........ */

.join-community {
    height: calc(533rem / 16);
    background-image: url('../assets/news-letter-bg.png');
    background-size: 100%;
    margin-top: calc(120rem / 16);
}

.join-community-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

#subscribe-email-bar {
    width: calc(600rem / 16);
    height: 3rem;
    border: none;
    padding: 1rem;
}

.subscribe-email-button {
    width: calc(150rem / 16);
    height: 3rem;
    border: none;
    padding: 1rem;
    background-color: #E95A08;
    color: white;
}

/* footer section */
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

.footer-left-description {
    margin-top: 1rem;
}

.footer-mid-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
}

.footer-right {
    display: flex;
    gap: 2rem;
}

/* .............for mobile......... */

@media screen and (max-width:576px) {

    /* common */
    .container {
        width: 100%;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    /*         header navbar section          */

    .header-navbar {
        width: 100%;
        margin-top: 0rem;
        display: flex;
        align-items: center;
        gap: 0px;
    }

    .header-navbar ul li:nth-child(1) a,
    .header-navbar ul li:nth-child(2) a,
    .header-navbar ul li:nth-child(3) a {
        display: none;
    }

    .header-navbar ul li:nth-child(4) a {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: #252432;
    }

    /* ........header-banner......... */

    .header-banner {
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 0px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .header-banner-left-title {
        margin-top: 1rem;
        font-size: calc(45rem / 16);
        font-weight: 700;
    }

    .header-banner-left-description {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        max-width: 100%;
    }

    /* .........plant section......... */

    .primary-btn {
        width: 100%;
        background-color: #E95A08;
        color: white;
        font-weight: 600;
        font-size: 0.8rem;
        border: none;

        padding: 1rem 2rem;
    }

    .plants-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: calc(80rem / 16);
        text-align: center;
    }

    .plants-section-title {
        font-size: calc(35rem / 16);
        font-weight: 700;
    }

    .plants-section-description {
        max-width: 100%;
        margin: 1rem 0rem 2rem 0rem;
    }

    .all-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .flower-name {
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1.5rem;
    }

    .flower-price {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    /* ......plants-lover-section...... */

    .plants-lover-section {
        width: 100%;
        flex-direction: column;
        margin-top: calc(120rem / 16);
        gap: 4rem;
        align-items: center;
        text-align: center;
    }

    .plants-lover-section-left {
        max-width: fit-content;
    }

    .trusted-badge {
        display: none;
    }

    .plants-lover-section-right ul {
        margin: 0rem;
    }

    .plants-lover-section-right ul li {
        margin: 1rem;
        font-size: 0.9rem;
        text-align: center;
        list-style: none;
    }

    .plants-lover-section-right-title {
        font-size: calc(40rem / 16);
        margin-top: 1rem;
        font-weight: 700;
    }

    /* ........latest deal section............... */
    .latest-deal-section {
        width: 100%;
        margin: 0px;
        padding: 1rem;
        text-align: center;
    }

    .latest-deal-section-title {
        font-size: calc(50rem / 16);
        font-weight: 700;
        margin: 3rem 0rem 1rem 0rem;

    }

    .latest-deal-section-layout {
        flex-direction: column;
        margin-top: 2rem;
        gap: 0%;
    }

    .latest-deal-section-layout-left {
        height: 30rem;
        width: 100%;
        flex-direction: column;
        gap: 0%;

    }

    .latest-deal-section-bloom a,
    .latest-deal-section-ana a {
        color: white;
    }

    .latest-deal-section-bloom,
    .latest-deal-section-ana {
        border-radius: 1rem;
        height: 50%;
        background-image: url('../assets/deal-ana.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 1rem;
    }

    .latest-deal-section-layout-right a {
        color: white;
    }

    .latest-deal-section-layout-right {
        border-radius: 1rem;
        height: 15rem;
        width: 100%;
        flex-direction: column;
        background-image: url('../assets/deal-zabo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* .........join-community section........ */

    .join-community {
        height: 20rem;
        background-image: url('../assets/news-letter-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 0rem;
    }

    .join-community-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        margin-bottom: 1rem;
    }

    #subscribe-email-bar {
        width: auto;
        height: 3rem;
        border: none;
        padding: 1rem;
    }

    .subscribe-email-button {
        width: auto;
        height: 3rem;
        border: none;
        padding: 1rem;
        background-color: #E95A08;
        color: white;
    }

    /* footer section */
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        margin: 0rem;
    }

    .footer-left-description {
        margin-top: 1rem;
    }

    .footer-mid-links {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
    }

    .footer-right {
        display: flex;
        gap: 2rem;
    }
}